html {
  font-size: 10px;
  color: red;
}


.card {
  color: #0039d2;
}

/* a */
h1 {
  color: #26ff00;
}

* {
  color: #0b4901;
}

div {
  background-color: rgba(50%, 50%, 50%, 50%);
  font-size: 10px;
}


.buchuk {
  color: #8544fc;
}


#edit {
  color: #ffe800;
}

/* in-line   id    class   elem    */
/*a    0       0      0       1     */
/*b    1       0      0       0     */